<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <style>
            .btn {
                border: none;
                background-color: inherit;
                padding: 14px 28px;
                font-size: 50px;
                cursor: pointer;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div style="display:flex;justify-content:center;align-items:center;">
            <div>
                <h3 style="margin-bottom: 0">
                     Weihnachtsmusikquiz-2020
                </h3>
                <small id="matchpoints">
                    Matchpunkte: {{matchpoints}}
                </small>
                <div style="overflow: hidden;">
                        <h4 style="float:left; margin-top: 0">
                            Punkte:
                            <p id="score" style="float: right;margin: 0">
                                {{points}}
                            </p>
                        </h4>
                    </div>
            </div>
        </div>

        <div style="display:flex;justify-content:center;align-items:center;">
            <div>
                <iframe width="110" height="200" src="https://www.myinstants.com/instant/buzzer-89244/embed/"
                 frameborder="0" scrolling="no">
                </iframe>
            </div>
        </div>


        <div style="display: flex;justify-content: center;">


        <div style="display: flex;flex-direction: column;width: 160px; align-items: center;">
            <div>
                Antwort war richtig
                <button class="btn" (click)="addOne()">
                    &#9989;
                </button>
            </div>
            <div>
                    Punkte zurücksetzen
                    <button class="btn" (click)="reset()">
                        &#10060;
                    </button>
                </div>
        </div>
    </div>
    </body>
</html>